<!DOCTYPE HTML>
<html>
<head>
{% load staticfiles %}
<script src="{% static 'common/js/jquery-2.1.0.min.js' %}"></script>
<script src="{% static 'dash/noti_ajax.js' %}"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static 'dash/style.css' %}" rel="stylesheet">
</head>
<body>

  <h2>Hello!</h2>

  <div class="container">
  {% for service in services %}
    <div class="col-sm-4 service">
      <div class="row row-header">
        <div class="col-sm-1 col-header"><img src="{{ service.icon }}"/></div>
        <div class="col-sm-3 col-header"><h4>{{ service.name }}</h4></div>
        {% if service.is_auth %}
        <div class="col-sm-6 col-header"><h6>username</h6></div>
        <div class="col-sm-1 col-header">
          <button class="btn btn-link" onclick="loadNoti('{{ service.name }}')">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>
        <div class="col-sm-1 col-header"><span class="glyphicon glyphicon-remove"></span></div>
        {% else %}
        <div class="col-sm-6 col-header"><h6>Not logged in.</h6></div>
        <div class="col-sm-1 col-header"></div>
        <div class="col-sm-1 col-header">
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="service" value="{{ service.name }}"/>
            <button type=submit class="btn btn-link">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </form>
        </div>
        {% endif %}
      </div>
      <div id="noti_{{ service.name }}" class="row row-table"></div>
    </div>
  {% endfor %}
  </div>

</body>
</html>
